@mixin flexLayoutCenter($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

.layout {
  justify-content: space-between;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
