/** SCSS PRIMARY COLORS */
/** SCSS SECONDARY COLORS */
/** SCSS BREAKPOINTS COLORS */
/** SCSS TYPOGRAPHY SIZES */
/** RESPONSIVE TYPOGRAPHY MIXINS */
/** BREAKPOINTS MIXINS */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/** SCSS PRIMARY COLORS */
/** SCSS SECONDARY COLORS */
/** SCSS BREAKPOINTS COLORS */
/** SCSS TYPOGRAPHY SIZES */
/* Typography
 * *********************************** */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}

p,
ul,
ol {
  font-size: 14px;
}
@media screen and (min-width: 320px) {
  p,
  ul,
  ol {
    font-size: 15px;
  }
}
@media screen and (min-width: 480px) {
  p,
  ul,
  ol {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  p,
  ul,
  ol {
    font-size: 17px;
  }
}
@media screen and (min-width: 1024px) {
  p,
  ul,
  ol {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  p,
  ul,
  ol {
    font-size: 19px;
  }
}

h1 {
  font-size: 17px;
}
@media screen and (min-width: 320px) {
  h1 {
    font-size: 18px;
  }
}
@media screen and (min-width: 480px) {
  h1 {
    font-size: 25px;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 35px;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 45px;
  }
}

h2 {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  h2 {
    font-size: 17px;
  }
}
@media screen and (min-width: 480px) {
  h2 {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 19px;
  }
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 21px;
  }
}

h3 {
  font-size: 15px;
}
@media screen and (min-width: 320px) {
  h3 {
    font-size: 16px;
  }
}
@media screen and (min-width: 480px) {
  h3 {
    font-size: 17px;
  }
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  h3 {
    font-size: 19px;
  }
}
@media screen and (min-width: 1200px) {
  h3 {
    font-size: 20px;
  }
}

/* Layout
 * *********************************** */
article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

/* Elements
 * *********************************** */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

img {
  border-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

/* Attributes & states
 * *********************************** */
[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}

/* Utility classes
 * *********************************** */
.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  left: -9999px;
  top: -9999px;
}

:root {
  background-color: #daffd0;
}

body {
  overflow-x: hidden;
  flex-direction: column;
}

.layout {
  justify-content: space-between;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.arrayCard {
  background-color: black;
  width: fit-content;
  height: fit-content;
  min-height: 100px;
  min-width: 150px;
  color: white;
  margin: 4px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 5px solid #22b927;
  border-radius: 0.5rem;
}
.arrayCard h1 {
  font-weight: 600;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.shake-horizontal {
  -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-4-11 12:23:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%, 40%, 60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%, 40%, 60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 4px 4px;
  background-color: #2b2b2b;
  border-radius: 1rem 1rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.inputContainer h2 {
  color: #b0ffa1;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.inputContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.inputContainer input {
  height: 40px;
  background-color: #c5c5c5;
  margin: 12px 12px;
  border-radius: 1rem 1rem;
  padding: 4px 8px;
  appearance: none;
  font-weight: 600;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.inputContainer button {
  border-radius: 1rem 1rem;
  padding: 4px 8px;
  font-weight: 600;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  height: 40px;
  width: 70px;
  background-color: #daffd0;
  margin: 4px 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #2b2b2b;
  height: 70px;
  border-end-end-radius: 1rem;
  border-end-start-radius: 1rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.nav .title {
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #00ff2a;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main .input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 70vw;
  height: 200px;
}
.main .arrayContainer {
  margin: 12px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.main .controlButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.main .controlButtons button {
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 8px 32px;
  border-radius: 0.5rem;
  font-weight: 600;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: auto;
  justify-content: space-around;
  background-color: #2b2b2b;
  height: 70px;
  position: relative;
  border-start-start-radius: 1rem;
  border-start-end-radius: 1rem;
  box-shadow: 0px -10px 15px -3px rgba(0, 0, 0, 0.1);
}
.footer .footerText {
  color: #00ff2a;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}/*# sourceMappingURL=main.css.map */