@import "abstracts/_variables.scss";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "base/reset";
@import "base/base";
@import "layout/layout";
@import "components/ArrayCard";
@import "components/Input";

.nav {
  @include flexLayoutCenter(row);
  background-color: $primary-a50;
  // width: 100vw;
  height: 70px;
  border-end-end-radius: 1rem;
  border-end-start-radius: 1rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  .title {
    font-weight: $font-weight-bold;
    font-family: $font-family-base;
    color: $secondary-a50;
  }
}

.main {
  @include flexLayoutCenter(column);
  // margin-left: auto;
  // margin-right: auto;
  // width: 100vw;
  // min-height: 100%;
  .input {
    @include flexLayoutCenter(column);
    @include breakpoint(large) {
      width: 90vw;
    }
    min-width: 70vw;
    height: 250px;
  }
  .arrayContainer {
    margin: $spacer-3 $spacer-3;
    @include flexLayoutCenter(row);
    flex-wrap: wrap;
  }
  .controlButtons {
    @include flexLayoutCenter(row);
    button {
      margin-top: $spacer-3;
      margin-left: $spacer-3;
      margin-right: $spacer-3;
      padding: $spacer-2 $spacer-8;
      border-radius: 0.5rem;
      font-weight: $font-weight-bold;
      font-family: $font-family-mono;
    }
    .start {
      background-color: $secondary-a30;
    }
    .reset {
      background-color: rgb(238, 74, 74);
    }
  }
}

.footer {
  @include flexLayoutCenter(row);
  margin-top: auto;
  justify-content: space-around;
  background-color: $primary-a50;
  height: 70px;
  position: relative;
  border-start-start-radius: 1rem;
  border-start-end-radius: 1rem;
  box-shadow: 0px -10px 15px -3px rgba(0, 0, 0, 0.1);
}
